.profileContainer {
    display: inline-flex;
    column-gap: 60px;
}

.menu {
    max-width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuList {
    display: flex;
    column-gap: 8px;
    margin: 0;
    padding: 0;
}

.menuItem {
    composes: pb-4 pt-4 pl-5 pr-5 from global;
    list-style-type: none;
}

.menuLink {
    color: #F2F2F3;
    text-decoration: none;
    display: flex;
    gap: 8px;
}

.menuLink:hover {
    opacity: .6;
}

.menuLink {
    composes: text_color_inactive from global;
}

.active {
    
}