.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 
    0px 0px 8px rgba(51, 51, 255, 0.25), 
    0px 0px 16px rgba(51, 51, 255, 0.25);  
}

.image {
    width: 500px;
    height: 500px;
}

.link {
    list-style-type: none;
    color: #F2F2F3;
    text-decoration: none;
    text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 
                0px 0px 8px rgba(51, 51, 255, 0.25), 
                0px 0px 16px rgba(51, 51, 255, 0.25);
}

.link:hover {
    color: rgb(58, 148, 121);
}