.app {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
  composes: pt-10 from global;
}

.content {
  max-width: 1240px;
  margin: 0 auto;
  composes: pt-10 from global;
}

.title {
  composes: pb-5 from global;
}

.burgerContainer {
  display: flex;
  column-gap: 56px;
}