.ordersInfoContainer {
    composes: mt-15 from global;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 60px 36px;
}

.statisticsContainer {
    grid-column: 1/3;
}

.title {
    composes: text text_type_main-medium from global;
}

.ordersList {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px 44px;
    flex-wrap: wrap;
    max-height: 153px;
}

.orderItem {
    list-style-type: none;
}

.readyOrderNumber {
    composes: text text_type_digits-default from global;
    color: #00CCCC;
}

.underwayOrderNumber {
    composes: text text_type_digits-default from global; 
}

.statisticsNumber {
    composes: text text_type_digits-large from global;
    text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 
                0px 0px 8px rgba(51, 51, 255, 0.25), 
                0px 0px 16px rgba(51, 51, 255, 0.25);
}
