.typeList {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    margin: 0;
    composes: pl-4 pr-4 from global;
}

.link {
    color: #F2F2F3;
    text-decoration: none;
}

.link:hover {
    color: var(--colors-interface-accent);
}

