.message {
    composes: text text_type_main-large mb-4 from global;
    text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 
                0px 0px 8px rgba(51, 51, 255, 0.25), 
                0px 0px 16px #3333ff40;
}

.error {
    color: red;
    composes: text text_type_main-large mb-4 from global;
    text-shadow: 0px 4px 32px rgba(204, 27, 27, 0.5), 
                0px 0px 8px rgba(255, 51, 99, 0.25), 
                0px 0px 16px rgba(255, 51, 51, 0.25);
}