.ingredientItem {
    list-style-type: none;
    display: flex;
    column-gap: 16px;
    composes: pr-6 from global;
}

.ingredientImageContainer {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #131316;
    border: 2px solid #4C4CFF;
}

.ingredientImage {
    width: 112px;
    height: 56px;
}

.ingredientTitle {
    composes: text text_type_main-default from global;
}

.priceContainer {
    display: flex;
    column-gap: 8px;
    composes: text text_type_digits-default from global;
    margin-left: auto;
}