.title {
    align-self: flex-start;
}

.ingredientName {
    composes: mt-4 mb-8 from global;
}

.nutrientsContainer {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    display: flex;
    column-gap: 20px;
    composes: mb-5 from global;
}

.nutrient {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
}