.header {
    width: 100%;
    margin: 0 auto;
    background-color: #1C1C21;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    composes: pb-4 pt-4 from global;
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    top: 16px;
}

.menuList {
    display: flex;
    column-gap: 8px;
    margin: 0;
    padding: 0;
}

.menuItem {
    composes: pb-4 pt-4 pl-5 pr-5 from global;
    list-style-type: none;
}

.menuItem:last-child {
    margin-left: auto;
}

.menuLink {
    color: #F2F2F3;
    text-decoration: none;
    display: flex;
    gap: 8px;
}

.menuLink:hover {
    opacity: .6;
}